<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{movie.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{movie.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/movies}" class="btn btn-secondary">[[#{movie.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('movie')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='movie', field='id', disabled=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='movie', field='title', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='movie', field='genre')}" />
                <input type="submit" th:value="#{movie.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
